/* spectre overrides */
html {
  scroll-behavior: smooth;
}

.popover {
    color: $primary-color;
    font-weight: 500;
}

.popover-container {
    font-family: "Bungee", Georgia;
    font-size: 0.75rem;
    text-align: left;
    color: $light-color;
    background-color: $dark-color;
}

body {
    font-size: 1rem;
    line-height: 1.7;
    font-family: 'Montserrat', Verdana;
}

#body-wrapper {
    padding-top: 2rem;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color: $dark-color;
    font-family: 'Bungee', Georiga;
    line-height: 1.2em;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 2rem;
    margin-bottom: .5rem;
    display: block;
    text-align: left;
}
    
h2, .h2, .heading-box {
    background: $primary-color;
    display: inline-block;
    padding: 0.3rem 2.5rem 0.3rem 1rem;
    border-radius: .1rem;
    a {
	color: $dark-color;
	text-decoration: none;
    }
    a:hover {
	color: lighten($dark-color, 10%);
	text-decoration: none;
    }
}

a {
    color: $primary-color;
    text-decoration: none !important;
    font-weight: 700;
}

a:hover, a:visited {
    color: darken($primary-color, 10%);
    text-decoration: none !important;
}

mark {
    background: lighten($primary-color, 15%);
}

a:hover {
    color: $primary-color;
}

.header a {
    color: $light-color;
}

.footer {
    background-color: darken($light-color, 10%);
}

/* utiliy classes */
.pink {
    color: $primary-color;
    h1, h2, h3, h4, h5, h6, p, mark, cite {
	color: $primary-color;
    }
}
.gray {
    color: $dark-color;
    h1, h2, h3, h4, h5, h6, p, mark, cite {
	color: $dark-color;
    }
}
.light {
    color: $light-color;
    h1, h2, h3, h4, h5, h6, p, mark, cite {
	color: $light-color;
    }
}
.yellow {
    color: $yellow;
    h1, h2, h3, h4, h5, h6, p, mark, cite {
	color: $yellow;
    }
}
.turkoise {
    color: $turkoise;
    h1, h2, h3, h4, h5, h6, p, mark, cite {
	color: $turkoise;
    }
}

.pink-bg {
    background-color: $primary-color !important;
}
.gray-bg {
    background-color: $dark-color !important;
}
.yellow-bg {
    background-color: $yellow !important;
}
.turkoise-bg {
    background-color: $turkoise !important;
}

.rounded-edges {
    border-radius: .1rem;
}

.bungee {
    font-family: "Bungee";
}

.montserrat {
    font-family: "Montserrat";
}

.no-a-decoration, .no-a-decoration:hover, .no-a-decoration:visited, .no-a-decoration:active {
    text-decoration: none !important;
    color: inherit !important;
    /*
    a, a:hover {
	text-decoration: none;
    } */
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.feature-button {
    font-family: 'Bungee', Georgia;
    padding: 0.3rem 1rem;
    max-width: 100%;
    transition: padding .1s, font-size .1s;
}

.feature-button:hover {
    font-size: 1.05rem;
    padding: 0.35rem 1.1rem;
}

/* screen reader compatibility */
.speech {
    display: none;
}

@media speech {
    .speech {
	display: initial;
    }
    .speech-hide {
	display: none;
    }
}

/* frontpage classes */
#heading-bg-sun-village {
    position: relative;
    height: 15rem;
    background-color: #efefef;
    background-image: url("/user/pages/images/sun-village.svg"), url("/user/pages/images/guitars.png");
    background-attachment: scroll, fixed;
    background-repeat: no-repeat, repeat;
    background-position: bottom, top left;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #heading-bg-sun-village {
	background-image: url("/user/pages/images/sun-village.svg"), url("/user/pages/images/guitars-2x.png");
	background-size: auto, 450px;
    }
}

.frontpage-header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-bottom: 4em;
    padding-top: 1em;
    > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
    }
    .second-line {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	.text {
	    font-family: 'Bungee', Georgia;
	    color: $light-color;
	    text-align: center;
	    font-size: .8em;
	    width: 7em;
	}
	.yellow-stripe {
	    margin: 0 .3em 0 .3em;
	    width: 5px;
	}
    }
    .first-line {
	> .nowrap {
	    height: 10em;
	}
	display: flex;
	flex-direction: column;
    }
    /* hide images on small screens */
    img {
	display: none;
    }
    .vert-spacer {
	display: none;
	width: 6.1em;
    }
    @media screen and (min-width: 700px) {
	img {
	    display: initial;
	}
	.vert-spacer {
	    display: initial;
	}
    }
}

.polygon-shape {
    background-color: $dark-color;
    shape-outside: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    width: 100%;
}
@media screen and (min-width: 600px) {
    .polygon-shape {
	shape-outside: polygon(0 0, 100% 0, 100% 80%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    }
    .frontpage-header {
	.first-line {
	    justify-content: center;
	    flex-direction: row;
	}
    }
    .yellow-stripe {
	margin-left: 1.2em;
    }
}

.nowrap {
    display: flex;
    flex-flow: row nowrap;
}

.spacer {
    height: .7em;
}

.kuloko-text-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 0 0.5em;
    line-height: 1;
}

.heading-string {
    font-family: 'Bungee Inline', Georgia;
    color: $light-color;
    text-align: center;
    line-height: 1;
}

#first {
    font-size: 4em;
}

#second {
    font-size: 2.5em;
}

#pink-stripe {
    font-family: 'Montserrat', Verdana;
    font-weight: 700;
    color: $dark-color;
    background-color: $primary-color;
    font-style: italic;
    text-align: center;
    margin-top: 0.5em;
    padding: 0.5em;
}

#info {
    max-width: 220px;
    font-family: "Bungee", Georgia;
    font-size: 1.3em;
    color: $light-color;
}

.yellow-stripe {
    width: 10px;
    background-color: $yellow;
    margin-left: 0.5em;
}

#place {
    font-family: 'Montserrat', Georgia;
    font-weight: 500;
    font-style: italic;
}

.news-container.columns {
    justify-content: space-between;
}
.news-container {
    .col-8 {
	width: 100%;
    }
    .col-4 {
	width: 100%;
	padding-bottom: 1rem;
	background-image: url("/user/pages/images/guitars-light.png");
	.cards {
	    display: flex;
	    flex-wrap: nowrap;
	    flex-direction: column;
	    overflow-x: hide;
	}
	.item {
	    padding: .5rem 1rem .5rem .6rem;
	}
	time {
	    font-size: 0.7rem;
	}
	h1, h2, h3, h4, h5, h6 {
	    margin-top: 0.8rem;
	    margin-bottom: 0.4rem;
	}
	p {
	    font-size: 0.9rem;
	    line-height: 1.2;
	    margin-bottom: 0.5rem;
	    font-weight: 500;
	}
    }
    #news {
	background-color: $primary-color;
	margin-left: -.4rem;
	margin-right: -.4rem;
	h3 {
	    margin-top: 0;
	    margin-bottom: 0;
	    padding: 0.4rem 1rem 0.4rem;
	    font-size: 1.2rem;
	}
    }
    @media screen and (min-width: 800px) {
	.col-8 {
	    width: 62%;
	}
	.col-4 {
	    margin-top: -4rem;
	    padding-top: 6rem;
	    width: 33.333333%;
	}
    }
    @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.col-4 {
	    background-image: url("/user/pages/images/guitars-light-2x.png");
	    background-size: 450px;
	}
    }
}

#frontpage {
    padding-bottom: 2em;
}

/* default and modular page classes */
#heading {
    position: relative;
    height: 20rem;
    background-color: #efefef;
    background-attachment: scroll, scroll, scroll, fixed;
    background-position: bottom right, bottom left, bottom, top;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: contain, contain, contain, cover;
}

#hero-title {
    background-color: $dark-color;
    position: absolute;
    top: 50%;
    padding: 0.5rem 2.7rem 0.5rem 1rem;
    h1 {
	margin: 0;
	line-height: 1.2;
	font-size: 2rem;
    }
    img {
	position: absolute;
	right: .5rem;
	top: -.35rem;
	transform: rotate(-15deg);
    }
}

/* **simple modular page** */

/* utility classes */
.no-repeat {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* modular parent page */
#modular-wrapper {
    padding-top: $header-height-large;
    padding-bottom: 2em;
}

.module {
    margin-top: 1em;
}

.dark_bg {
    h1, h2, h3, h4, h5, h6, p, cite, mark {
	color: $light-color;
    }
}

.dark_mark mark {
	color: $light-color;
}

/* heading-left */
.flex-container-heading-left {
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
    div {
	background: $primary-color;
	margin-bottom: .5rem;
	h3 {
	    margin: 0.2em 2em;
	}
    }
}
@media screen and (min-width: 800px) {
    .flex-container-heading-left {
	flex-flow: row nowrap;
	div {
	    max-width: 2.4em;
	    margin-right: 1rem;
	    margin-bottom: 0;
	    h3 {
		transform: rotate(90deg);
		white-space: nowrap;
		margin: 1.3em 0.2em;
	    }
	}
    }
}

/* "citation" */
.citation {
    font-family: "Bungee", Georgia;
    padding: 1rem 2rem;
    margin: 0 .4rem;
    background-image: url("/user/pages/images/guitars-light.png");
    cite {
	font-family: "Montserrat", Verdana;
	float: right;
	clear: both;
	font-weight: 500;
    }
    h4 {
	margin-top: 0;
    }
}
@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .citation {
	background-image: url("/user/pages/images/guitars-light-2x.png");
	background-size: 450px;
    }
}

/* fancy-heading (rotated...) */
.fancy-heading {
    .heading-box {
	padding-right: 1rem;
    }	    
    h3 {
	transform: rotate(-7deg);
    }
    p {
	margin-left: 2rem;
    }
}

/* "features" module */
.modular-features {
    text-align: left;
    h3, .h3 {
	text-align: left;
	font-style: initial;
    }
    .frame-box {
	padding: 1em 0;
	p {
	    text-align: center;
	    margin-bottom: 0;
	}
	.bungee {
	    text-align: left;
	}
    }
    .column {
	padding: .4rem;
	min-height: 10rem;
    }
    .margin-box {
	height: 100%;
	width: 100%;
	padding: 1rem;
	line-height: 1.5;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	img {
	    margin: .5rem 4rem;
	}
    }
    h6 {
	margin-top: 0.5rem;
	font-size: 1rem;
    }
    p {
	text-align: left;
	font-weight: 500;
    }
    > p {
	max-width: 100%;
	font-size: 1.4rem;
	font-style: italic;
    }
}

/* blog overrides */
.blog-listing > .container {
    padding-top: 4rem !important;
}

/* footer */
.share {
    flex-wrap: wrap;
    div {
	width: 3.6rem;
	transition: width .1s;
	padding: 0 .3rem;
    }
    .grow:hover {
	width: 4rem;
    }
}

.sponsors {
    flex-wrap: wrap;
    height: initial;
    .yellow-stripe {
	width: 5px;
	height: 2.5rem;
	margin: .4rem .6rem;
	align-self: stretch;
    }
    > img {
	width: 6rem;
	margin: .3rem 0 .3rem 0;
    }
}

.footer {
    a {
	display: block;
    }
    font-family: "Bungee", Georgia;
}

.last-line {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
}

/* blog customization */
.content-title img {
    padding-top: 1.5rem;
}

/* customize text module */
.columns.left {
    flex-direction: row-reverse;
}

/* leaflet map */
.map {
    height: 25rem;
    margin-bottom: 1rem;
}

.leaflet-pane {
    z-index: 0 !important;
}

.leaflet-control-container > * {
    z-index: 1 !important;
}

.leaflet-popup-content {
    h6 {
	margin-top: .2rem;
    }
}

/* nav menu adjustments */
.treemenu {
    li a {
	font-size: 1.3rem;
    }
    .toggler {
	color: $primary-color;
	font-weight: bold;
    }
}

/* lineup and timetable */
.timetable { 
    .education {
	background-color: lighten($dark-color, 60%);
    }
    .music {
	background-color: lighten($primary-color, 25%);
    }
    .others {
	background-color: lighten($yellow, 25%);
    }
    margin: auto;
    h1 ,h3 {
	text-align: center;
    }
    span {
	display: inline-block;
	padding: .3rem;
    }
    .tt-row {
	font-size: .8rem;
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: .3em;
	h4 {
	    font-size: 1em;
	    margin-top: 1em;
	    text-align: center;
	}
    }
    .tt-column {	
	width: 12rem;
	flex-shrink: 0;
    }
    .header {
	background: lighten($yellow, 15%);
	> div {
	    padding-left: .5em;
	    padding-right: .5em;
	}
    }
    .tt {
	margin: auto;
	width: max-content;
    }
    .tt-entry {
	line-height: 1em;
	font-size: .9em;
	margin-bottom: .3em;
	margin-left: .15em;
	margin-right: .15em;
	> * {
	    padding: .5em .3em 0;
	}
	.tt-body {
	    font-family: 'Bungee', Georgia;
	    font-size: .9em;
	}
	.tt-footer {
	    font-style: italic;
	    font-size: .9em;
	    padding-bottom: .3em;
	}
    }
}


/* lineup page */
.lineup-header {
    .education {
	color: lighten($dark-color, 20%);
    }
    .music {
	color: darken($primary-color, 7%);
    }
    .others {
	color: darken($light-color, 5%);
    }
    background-image: url(/user/pages/images/guitars-light.png);
    padding: .3rem .5rem 2.5rem .5rem;
    font-family : "Bungee", Georgia;
    font-size: .9rem;
    h1 {
	line-height: 1em;
	text-align: center;
	font-size: 1.5rem;
	margin-top: .5rem;
	word-spacing: .4em;
    }
    > ul {
	display: block;
	line-height: 1.2rem;
	margin: 0;
	text-align: justify;
	> li {
	    display: inline-block;
	    margin-top: .2rem;
	}
	> span {
	    margin: .2rem .6rem 0rem .6rem;
	    color: darken($light-color, 5%);
	}	    
    }
}

.lineup-polygon {
    display: none;
    @include breakpoint(min-xs) {
    shape-outside: polygon(0 0, 100% 0, 100% 98%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 98%, 0 100%);
    float: left;
    display: initial;
    }
    @include breakpoint(min-sm) {
	shape-outside: polygon(0 0, 100% 0, 100% 96%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    }
    @include breakpoint(min-md) {
	shape-outside: polygon(0 0, 100% 0, 100% 95%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }
    @include breakpoint(min-lg) {
	shape-outside: polygon(0 0, 100% 0, 100% 94%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
    }
    @include breakpoint(min-xl) {
	shape-outside: polygon(0 0, 100% 0, 100% 93%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
    }
}

#body-wrapper.lineup-body {
    padding-top: 0 !important;
}

.sidebar-content {
    margin-right: .3rem;
    margin-left: .3rem;
    margin-bottom: .5rem;
    span.tags {
	display: block;
	line-height: 1rem;
	text-align: justify;
	a {
	    background-color: lighten($primary-color, 30%) !important;
	    margin: .1rem;
	}
    }
}

.card {
    font-size: .75rem;
    .card-title {
	position: relative;
	line-height: 1.25em;
	.anchor {
	    position: absolute;
	    transform: translateY(-50vh);
	    visibility: hidden;
	}
    }

    .card-body {
	padding-top: .5em;
    }
}

.artist {
    img {
	margin-top: .5em;
    }
    h2 {
	background-color: initial;
	width: initial;
	font-size: 1.2em;
	padding: 0;
	a {
	    color: $primary-color !important;
	}
    }
    h3 {
	margin-top: .7em;
	font-weight: 700;
	font-size: 1em;
	font-family: "Montserrat", Verdana;
	font-style: italic;
    }
}

.artist-large {
    h3 {
	font-family: "Montserrat", Verdana;
	margin-top: .5rem;
	font-style: italic;
    }
}

/* search, lang and breadcrumbs header */
.search-header {
    padding: .2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.header-content {
    font-family: "Montserrat", Verdana;
    font-size: .8rem;
    ul.langswitcher {
	margin: 0;
	a {
	    color: lighten($primary-color, 20%);
	}
	a.active {
	    color: darken($primary-color, 5%);
	}
	li {
	    margin-top: 0;
	}
    }
}

#breadcrumbs {
    margin: .3rem 0;
    height: auto;
    font-size: .8rem;
    span {
	padding: 0 .3rem 0 0;
	line-height: 1rem;
	a {
	    padding: 0 !important;
	}
    }
    span:first-child {
	padding-right: .3rem;
    }
}

/* mobile menu now here */

.treemenu .toggler {
    font-size: 2.5rem;
    letter-spacing: .5rem;
}

