// Spectre Overrides
$primary-color: #C76B7B !default;
$dark-color: #2E2E2E !default;
$light-color: #FFF !default;
$gray-color: lighten($dark-color, 40%) !default;
$gray-color-dark: darken($gray-color, 25%) !default;
$border-color: lighten($dark-color, 60%) !default;
$body-bg: #FEFBEC !default;
$bg-color: darken($light-color, 10%) !default;
$body-font-color: lighten($dark-color, 5%) !default;
$yellow: #FFDC4F !default;
$turkoise: #00AB9A !default;
// Layout
$horiz-padding: 1rem;
$vert-padding: 2rem 0 2rem;

// Fonts
$min-responsive-font-size: 16px;

// Header
$header-height-large: 3.3rem;
$header-height-small: 2.3rem;
$header-color-dark: $dark-color;
$header-text-light: $light-color;
$header-text-dark: darken($dark-color, 15%);

// Dropdown Menu
$dropmenu-bg: $light-color;
$dropmenu-hover-text: $primary-color;
$dropmenu-horiz-padding: 12px;
$dropmenu-vert-padding: 5px;
$dropmenu-child-padding: 10px;
$dropmenu-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

// Mobile Menu
$mobile-color-main: $primary-color;
$mobile-color-active: $light-color;
$mobile-color-link: $primary-color;
$mobile-button-height: 24px;
$mobile-button-width: 28px;
