{% extends 'partials/base.html.twig' %}
{% set blog = page.find('lineup') %}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}
{% set image = page.media.images|first %}

{% block body %}
    <section id="body-wrapper" class="section">
	{% include 'partials/header.html.twig' %}
	<section class="container {{ grid_size }} artist-large">
	    <h2>{{ page.header.title }}</h2>
	    {% include 'partials/artist.html.twig' %}
	    <p class="prev-next text-center">
	    {% if not page.isFirst %}
		<a class="btn" href="{{ page.nextSibling.url }}"><i class="fa fa-angle-left"></i>{{ 'THEME_QUARK.BLOG.ITEM.PREV_POST'|t }} </a>
	    {% endif %}
	    {% if not page.isLast %}
		<a class="btn" href="{{ page.prevSibling.url }}"> {{ 'THEME_QUARK.BLOG.ITEM.NEXT_POST'|t }} <i class="fa fa-angle-right"></i></a>
	    {% endif %}
	    </p>
	</section>
</section>
{% endblock %}
