{% extends 'modular.html.twig' %}

{% block hero %}
    <!-- kuloko logo and stuff -->
    <div id="heading-bg-sun-village"></div>
    <div class="speech-hide polygon-shape frontpage-header">
	<div>
	    <div class="first-line">
		<div class="nowrap">
		    <img src="/user/pages/images/X.png" height="100%" width="auto"></img>
		    <div class="kuloko-text-container">
			<div class="heading-string" id="first">Kultur</div>
			<div class="heading-string" id="second">ohne Kohle</div>
			<div id="pink-stripe">Eine rheinische Landpartie</div>
		    </div>
		</div>
		<div class="spacer"></div>
		<div class="nowrap">
		    <div class="yellow-stripe"></div>
		    <div id="info" class="kuloko-text-container">
			<div>{{page.header.heading.datestring|raw}}</div>
			<div id="place">{{ page.header.heading.place }}</div>
			<div>{{ page.header.heading.free_entrance }}</div>
		    </div>
		</div>
	    </div>
	    <div class="spacer"></div>
	    <div class="second-line">
		<div class="vert-spacer"></div>
		<div class="text">{{ page.header.heading.construction }}</div>
		<div class="yellow-stripe"></div>
		<div class="text">{{ page.header.heading.programme }}</div>
		<div class="yellow-stripe"></div>
		<div class="text">{{ page.header.heading.dismantling }}</div>
	    </div>
	</div>
    </div>
    <section class="speech">
	<h1>Kultur ohne Kohle</h1>
	<h2>Eine rheinische Landpartie</h2>
	<ul>
	    <li>{{page.header.datestring}}</li>
	    <li>{{ page.header.place }}</li>
	    <li>{{ page.header.free_entrance }}</li>
	</ul>
    </section>
{% endblock %}

{% block body %}
    <section id="frontpage" class="section">
        <section class="container {{ grid_size }}">
            {% block messages %}
                {% include 'partials/messages.html.twig' ignore missing %}
            {% endblock %}
	    <div class="columns news-container">
		<div class="column col-8">
		    {{ page.content|raw }}
		</div>
		<div class="column col-4 rounded-edges">
		    <div id="news" class="rounded-edges">
			<h3>{{ page.header.news }}</h3>
		    </div>		    
		    <div class="cards">
			{% for item in page.find('/blog').children.order('date', 'desc')|filter(item => ("news" in item.header.taxonomy.category))|slice(0, 3) %}
			    <div class="item">
				<time class="dt-published" datetime="{{ item.date|date("c") }}">
				    <i class="fa fa-calendar"></i> {{ item.date|date(system.pages.dateformat.short) }}
				</time>
				<a class ="no-a-decoration" href="{{ item.url }}">
				    <h5>{{ item.title }}</h5>
				    {{ item.summary|raw }}
				</a>
			    </div>
			{% endfor %}
		    </div>
		</div>
	    </div>
        </section>
	{% with { wrapper: false, searchbar: false } %}
		{{ parent() }}
	{% endwith %}
    </section>
{% endblock %}
