{% extends 'partials/base.html.twig' %}
{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}
{% set collection = page.collection() %}
{% set blog = page %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, blog])|defined(true) %}
{% set show_sidebar = header_var('show_sidebar', [page, blog])|defined(true)  %}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/bricklayer.css') %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% do assets.add('theme://js/bricklayer.min.js') %}
    {% do assets.add('theme://js/scopedQuerySelectorShim.min.js') %}
{% endblock %}


{% block hero %}
    {% include 'partials/hero.html.twig' %}
    {% cache %}
	{# display all items in a random order, different types in different colors #}
	<div>
	    <div class="lineup-header lineup-polygon">
		<h1>
		    <span class="music">Musik, </span>
		    <span class="education">Bildung </span>
		    <span class="others">& Mehr </span>
		</h1>
		<ul>
		    {% set num_items = page.header.header|length %}
		    {% set items = page.header.header %}
		    {% for i in range(1, num_items) %}
			{% if i > 1 %}
			    <span>&nbsp;</span>
			{% endif %}
			{% set pop = random(items|length - 1) %}
			<li> <a class="{{ items[pop]['category'] }}" href="{{ page.url }}/#{{ items[pop]['id'] }}">{{ items[pop]['name'] }}</a> </li>
			{% set items = items|slice(0, pop)|merge(items|slice(pop + 1)) %}
		    {% endfor %}
		</ul>
	    </div>
	    {% include 'partials/topbar.html.twig'  %}
	</div>
    {% endcache %}
{% endblock %}

{% block body %}
    <section id="body-wrapper" class="section blog-listing lineup-body">
	<h6 style="text-align:right;margin-top:.5em"><a href="{{ page.url }}">Filter zurücksetzen</a></h6>
	{% include 'partials/header.html.twig' %}
        <section class="container {{ grid_size }}">

        {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
            {% include 'partials/breadcrumbs.html.twig' %}
        {% endif %}

        {% embed 'partials/layout.html.twig' with {blog: page} %}
            {% block item %}

                <div class="bricklayer">
                    {% for child in collection %}
			{% block collection_filter %}
			    {% include 'partials/lineup-item.html.twig' with {blog: page, page: child} %}
			{% endblock %}
                    {% endfor %}
                </div>

                {% if show_pagination and config.plugins.pagination.enabled and collection.params.pagination %}
                    <div id="listing-footer">
                        {% include 'partials/pagination.html.twig' with {base_url: page.url, pagination: collection.params.pagination} %}
                    </div>
                {% endif %}

            {% endblock %}

            {% block sidebar %}
                {% include 'partials/sidebar.html.twig' %}
            {% endblock %}
        {% endembed %}
        </section>
    </section>
    <script>
        //Bricklayer
        var bricklayer = new Bricklayer(document.querySelector('.bricklayer'))
    </script>
{% endblock %}



