{% extends 'partials/base.html.twig' %}
{% set grid_size = theme_var('grid-size') %}
{% set modular_wrapper = wrapper is defined ? wrapper : not (page.header.hero_background is defined) %}
{% set body_wrapper = wrapper or wrapper is null ? 'section' : ''%}
{% block hero %}
    {% include 'partials/hero.html.twig' %}
{% endblock %}

{% block body %}
    {# add leaflet js and css if necessary - only works inside document body, wtf!? #}
    {% for module in page.collection() if module.template == 'modular/map' and not (added_assets is defined) %}
	{% set added_assets = true %}
	{% do assets.addCss('https://unpkg.com/leaflet@1.7.1/dist/leaflet.css', {pipeline: false, integrity : "sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==", crossorigin : ''}) %}
	{% do assets.add('https://unpkg.com/leaflet@1.7.1/dist/leaflet.js', {pipeline: false, integrity : "sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==", crossorigin: ''}) %}
	{% do assets.addJs('theme://js/leaflet-maps.js', {group: 'bottom'} )%}
    {% endfor %}
    {% if body_wrapper %}
	<section class="section">
    {% endif %}
    {% if modular_wrapper %}
	    <div id="modular-wrapper">
    {% endif %}
    {% if searchbar or searchbar is null %}
	{% include 'partials/header.html.twig' %}
    {% endif %}
	{% for module in page.collection() %}
	    {% set module_name = module.menu|hyphenize %}
            <section class="{{ module_name }} container {{ grid_size }} module">
		{{ module.content|raw }}
	    </section>
	{% endfor %}
    {% if modular_wrapper %}
	    </div>
    {% endif %}
    {% if body_wrapper %}
	</section>
    {% endif %}
{% endblock %}
