{% extends 'partials/base.html.twig' %}
{% set folder = "/program/timetable" %}
{% set collection = page.collection({'items':{'@page': folder},'order': {'by': 'default', 'dir': 'asc'}}) %}

{% block stylesheets %}
    {{ parent() }}
    <style>
     body {
	 overflow-x: scroll !important;
     }
    </style>
{% endblock %}

{% block body %}
    <section id="start">
	<section id="body-wrapper" class="section timetable">
	    {% include 'partials/header.html.twig' %}
	    <h1 style="text-align:center">Zeitplan</h1>
	    <h3><span class="others">&nbsp;& mehr ;)&nbsp;</span>, <span class="education">&nbsp;Bildung&nbsp;</span>, <span class="music">&nbsp;Musik&nbsp;</span></h2>
		<ul class="pagination">
		    {% for day in collection %}
			<li class="page-item {{ day == page ? 'active' : '' }}">
			    <a href="{{ day.url }}">{{ day.title }}</a>
			</li>
		    {% endfor %}
		</ul>
		<div class="tt">
		    <div class="tt-row">
			{% for h in page.header.timetable.header %}
			    <div class="tt-column header">
				<div>
				    <h4>{{ h }}</h4>
				</div>
			    </div>
			{% endfor %}
		    </div>
		    {% set day = [page.header.timetable.morning, page.header.timetable.afternoon, page.header.timetable.evening] %}
		    {% for time in day %}
			<div class="tt-row">
			    {% for l in time %}
				<div class="tt-column">
				    {% for e in l %}
					<div class="tt-entry {{ e.category }}">
					    <div class="tt-header">{{ e.time_info }} {% if e.spot %} | {{ e.spot }}{% endif %}</div>
					    <div class="tt-body">
						{% if e.lineup_dir == 'None' %}
						    {{ e.title }}
						{% else %}
						    <a href="/program/lineup/{{ e.lineup_dir }}" target="_blank">{{ e.title }}</a>
						{% endif %}
					    </div>
					    <div class="tt-footer">{{ e.subtitle }}</div>
					</div>
				    {% endfor %}
				</div>
			    {% endfor %}
			</div>
		    {% endfor %}
	</section>
    </section>
{% endblock %}

{% block footer %}
    <h6 style="text-align:center"><a href="impressum">Impressum</a></h6>
{% endblock %}
