<div class="columns">
    {% if image %}
	<div class="column col-sm-12 col-4">
	    {{ image.lightbox(600, 600).html()|raw }}
	    <div class="columns">
		{% if page.header.time_info %}
		    <div class="column col-2"><i class="fa fa-calendar"></i></div>
		    <div class="column col-10">{{ page.header.time_info }}</div>
		{% endif %}
		{% if page.header.place %}
		    <div class="column col-2"><i class="fa fa-map-marker"></i></div>
		    <div class="column col-10">{{ page.header.place }}</div>
		{% endif %}
		<div class="column col-12">
		    {% if page.header.external_url %}
			<a href="{{ page.header.external_url }}" target="_blank"><i class="fa fa-mouse-pointer"></i></a>
		    {% endif %}
		    {% if page.header.external_url and page.header.sample %}
			&nbsp;|&nbsp;
		    {% endif %}
		    {% if page.header.sample %}
			<a href="{{ page.header.sample }}" target="_blank"><i class="fa fa-headphones"></i></a>
		    {% endif %}
		</div>
	    </div>
	</div>
    {% endif %}
    <div class="column {{ image ? "col-8 col-sm-12" : "col-12" }}">
	{% if page.header.subtitle != '' %}
	    <h3>{{ page.header.subtitle }}</h3>
	{% endif %}
	{% if page.header.name %}
	    <h3 class="pink">mit: {{ page.header.name }}</h3>
	{% endif %}
	{% if (preview and page.header.summary_text != '') or page.content == '' %}
	    <p>{{ page.header.summary_text }}</p>
	{% elseif preview and page.content != page.summary %}
	    {{ page.summary|raw }}
	{% elseif not preview and page.content|trim == '' %}
	    {{ page.summary_text }}
	{% else %}
	    {{ page.content|raw }}
	{% endif %}
    </div>
    {% if not image %}
	{% if page.header.time_info %}
	    <div class="column col-12"><i class="fa fa-calendar"></i>&nbsp;{{ page.header.time_info }}</div>
	{% endif %}
	{% if page.header.place %}
	    <div class="column col-12"><i class="fa fa-map-marker"></i>&nbsp;{{ page.header.place }}</div>
	{% endif %}
	<div class="column col-12">
	    {% if page.header.external_url %}
		<a href="{{ page.header.external_url }}" target="_blank"><i class="fa fa-mouse-pointer"></i></a>
	    {% endif %}
	    {% if page.header.external_url and page.header.sample %}
		&nbsp;|&nbsp;
	    {% endif %}
	    {% if page.header.sample %}
		<a href="{{ page.header.sample }}" target="_blank"><i class="fa fa-headphones"></i></a>
	    {% endif %}
	</div>
    {% endif %}
</div>    
