<div class="button-container">
{% if url %}<a href="{{url}}"{% if target == 'blank' %} target="blank"{% endif %}>{% endif %}
    <div class="feature-button rounded-edges {{ styles }}">
	{{ text }}
    </div>
    {% if url %}</a>{% endif %}
</div>
