<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }} footer">
	<div class="button-container share">
	    {% set sites = {
		"facebook": "https://www.facebook.com/Kulokofestival/",
		"instagram": "https://www.instagram.com/kulokofestival/",
		"twitter": "https://twitter.com/KulokoF",
		"mail": "mailto:info@kultur-ohne-kohle.de"} %}
	    {% for site, url in sites %}
		{% set src = "/user/themes/quark/images/%s.svg"|format(site) %}
		<div class="grow">
		    <a href="{{ url }}" target="blank"><img alt="{{ site }}" src="{{ src }}" width="100%"></a>
		</div>
	    {% endfor %}
	</div>
	gefördert durch:
	<div class="button-container sponsors">
	    <img alt="create-music-logo" src="/user/pages/images/logos/create-music-logo.png">
	    <div class="yellow-stripe"></div>
	    <img alt="LMR-logo" src="/user/pages/images/logos/LMR-logo.png">
	    <div class="yellow-stripe"></div>
	    <img alt="LVR-logo" src="/user/pages/images/logos/LVR-logo.png">
	    <div class="yellow-stripe"></div>
	    <img alt="LWL-logo" src="/user/pages/images/logos/LWL-logo.png">
	    <div class="yellow-stripe"></div>
	    <img alt="KFKEW-logo" style="width:4.5rem" src="/user/pages/images/logos/kfkew-logo.png">
	    <div class="yellow-stripe"></div>
	    <img style="width:8rem" alt="MKW-logo" src="/user/pages/images/logos/MKW-logo.png">
	    <div class="yellow-stripe"></div>
	    <img style="width:8rem" alt="KSNRW-g-logo" src="/user/pages/images/logos/KSNRW-g-logo.png">
	</div>
	<a class="no-a-decoration" href="https://www.startnext.com/kultur-ohne-kohle-2021?utm_source=startnext&utm_medium=extwidget&utm_campaign=projectbutton&utm_term=projectpromo" target="_blank">selber fördern</a>
	<div class ="last-line">
	    <a class="no-a-decoration" href="/impressum">Impressum</a>
	    <span>&emsp;-&emsp;</span>
	    <a class="no-a-decoration" href="/data-security">Datenschutzerklärung</a>
	</div>
    </section>
</section>
