<div class="search-header">
    <div class="header-conent">
	{% include 'partials/breadcrumbs.html.twig' %}
    </div>
    <div class="header-content">
	{% include 'partials/simplesearch_searchbox.html.twig' %}
    </div>
    <div class="header-content">
	{% include 'partials/langswitcher.html.twig' %}
    </div>
</div>
