{% if page.header.hero_background|length %}
    {% set bar = "/user/pages/images/bar.svg" %}
    {% set foreground = page.header.hero_foreground|default(bar) %}
    <div id="heading" style="background-image:url({{ bar }}), url({{ bar }}), url({{page.header.hero_foreground}}), url({{ page.header.hero_background }})">
	<div id="hero-title" >
	    <h1 class="{{ page.header.hero_title_color }}">{{ page.header.title }}</h1>
	<img  src="/user/pages/images/X.png" height="130%">
	</div>
    </div>
{% endif %}
