<div class="card artist">
    {% set image = page.media.images|first %}
    <div class="card-header">
        <div class="card-title">
	    <div class="anchor" id="{{ page.header.id }}"></div>
            <h2 class="mt-1"><a href="{{ page.url }}">{{ page.title }}</a></h2>
        </div>
    </div>
    <div class="card-body">
	{% include 'partials/artist.html.twig' with {preview: true} %}
    </div>
    <div class="card-footer">
        {% include 'partials/blog/taxonomy.html.twig' %}
    </div>
</div>

