<div class="columns">
    <div class="column col-12 citation rounded-edges">
	{% if page.header.title|length %}
	    <h4 class="heading-box rounded-edges {{ page.header.heading_styles }}">{{ page.header.title|raw }}</h4>
	{% endif %}
	<span class="{{ page.header.paragraph_styles }}">
	    {{ content|raw }}
	    {% if page.header.author|length %}
		<cite>{{  page.header.author }}</cite>
	    {% endif %}
	</span>
    </div>
</div>
