{% set grid_size = theme_var('grid-size') %}
<div class="columns">
    <div class="column col-12 fancy-heading">
	{% if page.header.title|length %}
	    <h3 class="heading-box rounded-edges {{ page.header.heading_colors }}">{{ page.header.title }}</h3>
	{% endif %}
        {{ content|raw }}
    </div>
</div>
