{% set grid_size = theme_var('grid-size') %}
{% set columns = page.header.class == 'small' ? 'col-3 col-md-4 col-sm-6' : (page.header.class == 'large' ? 'col-6 col-md-12' : 'col-4 col-md-6 col-sm-12')  %}
<section class="modular-features {{ page.header.class}}">
    {{ content|raw }}
    <div class="frame-box">
        <div class="columns">
            {% for feature in page.header.features %}
		<div class="column {{ columns }}">
		    <div class="margin-box rounded-edges {{ feature.colors|default("gray") }}">
			{% if feature.url %}<a href="{{feature.url}}"{% if feature.target == 'blank' %} target="blank"{% endif %}>{% endif %}
			    {% if feature.header %}
				<h6>{{ feature.header }}</h6>
			    {% endif %}
			    {% if feature.url %}</a>{% endif %}
			    {% if feature.logo %}
				{{ page.media[feature.logo].html(feature.logo)|raw }}
			    {% endif %}
			    {% if feature.text %}
				<p class="feature-content {{ feature.text_styles }}">{{ feature.text|raw }}</p>
			    {% endif %}
			    {% if feature.url or feature.button %}
				{% if "yellow-bg" in feature.colors %}
				    {% set styles = "pink-bg light" %}
				{% elseif "pink-bg" in feature.colors %}
				    {% set styles = "turkoise-bg gray" %}
				{% else %}
				    {% set styles = "yellow-bg gray" %}
				{% endif %}
				{% set button = feature.button|default("Zur Website") %}
				{%  include "partials/button.html.twig" with {url: feature.url, target: feature.target, text: button} %}
			    {% endif %}
		    </div>
		</div>
            {% endfor %}
        </div>
    </div>
</section>
