{% set grid_size = theme_var('grid-size') %}
{% set hero_image = page.header.hero_image ? page.media[page.header.hero_image] : page.media.images|first %}
{% set hero_title_color = page.header.hero_title_color %}
{% include 'partials/hero.html.twig' %}
