{% set grid_size = theme_var('grid-size') %}
{% set image = page.media.images|first %}
<div class="columns {{ page.header.image_align|default('right') }}">
    {% if image %}
        <div class="column col-6 col-md-12">
            {{ content|raw }}
        </div>
        <div class="column col-6 col-md-12">
            {{ image.html|raw }}
        </div>
    {% else %}
        <div class="column col-12">
            {{ content|raw }}
        </div>
    {% endif %}
    {% if not page.header.button is null %}
	{% set env = {
	    url: page.header.button.url,
	    target: page.header.button.target,
	    text: page.header.button.text,
	    styles: page.header.button.styles } %}
	<div class="column col-12 no-a-decoration">
	    {%  include "partials/button.html.twig" with env %}
	</div>
    {% endif %}
</div>
